<h1>
  Listing genres 
  <% if current_user.try(:admin?) %>
    <a href='/genres/new' class='btn btn-default btn-sm pull-right'><span class='glyphicon glyphicon-plus'></span>&nbsp;New genre</a>
  <% end %>
</h1>

<ul class='main-list well'>
  <% if @genres.count == 0 %>
    <li class='row-fluid'>
      <div class='myicon'><span class='glyphicon glyphicon-info-sign red'></span>&nbsp;&nbsp;No records found</div>
    </li>
  <% end %>
  <% @genres.each do |genre| %>
    <li class='row-fluid'>
      <div class='myicon'><%= genre.name %></div>
      <div class='pull-right'>
        <a href="<%= genre_path(genre) %>" class='btn btn-xs' role='button'><span class='glyphicon glyphicon-zoom-in'></span></a>
        <% if current_user.try(:admin?) %>
          <a href="<%= edit_genre_path(genre) %>" class='btn btn-xs'  role='button'><span class='glyphicon glyphicon-edit'></span></a>
          <a href="<%= genre_path(genre) %>" class='btn btn-xs btn-danger  role='button'' data-confirm'Are you sure?' data-method='delete' rel='nofollow'><span class='glyphicon glyphicon-remove'></span></a>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
