<h1><%= @genre.name %>
	<small class='pull-right'>
		<% if current_user.try(:admin?) %>
			<%= link_to 'Edit', edit_genre_path(@genre), class: 'btn btn-primary' %>
		<% end %>
		<%= link_to "Back", genres_path, class: 'btn btn-default' %>
	</small>
</h1>
