<h1>Listing statuses 
  <% if current_user.try(:admin?) %>
    <a href='/statuses/new' class='btn btn-default btn-sm pull-right'><span class='glyphicon glyphicon-plus'></span>&nbsp;New status</a>
  <% end %>
</h1>

<ul class='main-list well'>
  <% if @statuses.count == 0 %>
    <li class='row-fluid'>
      <div class='myicon'><span class='glyphicon glyphicon-info-sign red'></span>&nbsp;&nbsp;No records found</div>
    </li>
  <% end %>
  <% @statuses.each do |status| %>
    <li class='row-fluid'>
      <div class='myicon'><%= status.name %></div>
      <div class='pull-right'>
        <a href="<%= status_path(status) %>" class='btn btn-xs' role='button'><span class='glyphicon glyphicon-zoom-in'></span></a>
        <% if current_user.try(:admin?) %>
          <a href="<%= edit_status_path(status) %>" class='btn btn-xs'  role='button'><span class='glyphicon glyphicon-edit'></span></a>
          <a href="<%= status_path(status) %>" class='btn btn-xs btn-danger  role='button'' data-confirm'Are you sure?' data-method='delete' rel='nofollow'><span class='glyphicon glyphicon-remove'></span></a>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
