<h1><%= @status.name %>
	<small class='pull-right'>
		<% if current_user.try(:admin?) %>
			<%= link_to 'Edit', edit_status_path(@status), class: 'btn btn-primary' %>
		<% end %>
		<%= link_to "Back", statuses_path, class: 'btn btn-default' %>
	</small>
</h1>
