<h2>Sign in <small> - Need an account? <%= link_to "Register", new_registration_path(resource_name) %></small></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal well clearfix' }) do |f| %>
  <%= content_tag :fieldset, class: 'col-md-7 col-md-offset-2' do %>
    <div class="form-group">
      <%= f.label :email, class: "col-sm-3 control-label" %>
      <div class='col-sm-9'>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "col-sm-3 control-label" %>
      <div class='col-sm-9'>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <%= f.label :remember_me, class: 'col-sm-3 control-label' %>
        <%= content_tag :div, class: 'col-sm-9' do %>
          <%= content_tag :label do %>
            <%= f.check_box :remember_me, class: 'form-control' %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class='pull-left'>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    </div>
    <br />
    <div class="pull-right">
      <%= f.submit "Sign in", class: 'btn btn-default' %>
    </div>
  <% end %>
<% end %>
