<h1>
  Listing authors 
  <% if current_user.try(:admin?) %>
    <a href='/authors/new' class='btn btn-default btn-sm pull-right'><span class='glyphicon glyphicon-plus'></span>&nbsp;New author</a>
  <% end %>
</h1>

<ul class='main-list well'>
  <% if @authors.count == 0 %>
  <li class='row-fluid'>
    <div class='myicon'><span class='glyphicon glyphicon-info-sign red'></span>&nbsp;&nbsp;No records found</div>
  </li>
  <% end %>
  <% @authors.each do |author| %>
    <li class='row-fluid'>
      <div class='myicon'><%= author.name %></div>
      <div class='pull-right'>
        <a href="<%= author_path(author) %>" class='btn btn-xs' role='button'><span class='glyphicon glyphicon-zoom-in'></span></a>
        <% if current_user.try(:admin?) %>
          <a href="<%= edit_author_path(author) %>" class='btn btn-xs'  role='button'><span class='glyphicon glyphicon-edit'></span></a>
          <a href="<%= author_path(author) %>" class='btn btn-xs btn-danger  role='button'' data-confirm'Are you sure?' data-method='delete' rel='nofollow'><span class='glyphicon glyphicon-remove'></span></a>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
