<h1><%= @author.name %>
	<small class='pull-right'>
		<% if current_user.try(:admin?) %>
			<%= link_to 'Edit', edit_author_path(@author), class: 'btn btn-primary' %>
		<% end %>
		<%= link_to "Back", authors_path, class: 'btn btn-default' %>
	</small>
</h1>
