<h1>News &amp; Information</h1>
<div class='main-list well'>
  	<p class="announcement topic">
	    <b>Announement:</b> Lorem ipsum<br />
  	</p>
    <p align="justify">
	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat est sed neque lobortis, ac tempor diam facilisis. Ut magna tortor, imperdiet sed turpis at, accumsan tincidunt nibh. Suspendisse ut malesuada libero, vitae lacinia ipsum. Duis suscipit mollis ullamcorper. Sed tincidunt, libero sed posuere imperdiet, nunc est convallis neque, consequat tincidunt libero massa sit amet sem. Aenean a fermentum metus. Vestibulum pellentesque velit maximus placerat auctor. Sed vel imperdiet elit. Cras non nunc vestibulum, volutpat sem id, aliquam orci. Phasellus nec pharetra purus, lobortis convallis magna. In varius libero vitae tellus viverra euismod. Fusce eget porta dui. Vestibulum pretium risus at neque fermentum maximus. Etiam euismod elit non diam sollicitudin, sit amet pulvinar neque euismod.
	</p>
	<p align="justify">
		Duis at libero feugiat, porta libero ac, finibus ex. Maecenas non nunc felis. Nulla rhoncus lorem tellus, quis congue urna eleifend ac. Etiam rhoncus dictum nunc et scelerisque. Maecenas leo risus, consequat ac odio sed, elementum blandit purus. Phasellus fermentum leo eget mauris aliquam ornare. Nullam sagittis velit id accumsan cursus. Quisque sagittis lorem tincidunt justo varius cursus.
	</p>
</div>
