<%= form_for(@publisher, html: { class: 'form-vertical'}) do |f| %>
  <fieldset>
    <% if @publisher.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@publisher.errors.count, "error") %> prohibited this publisher from being saved:</h2>

        <ul>
        <% @publisher.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="controller-group">
      <%= f.label :name %>
      <div class='controls'>
        <%= f.text_field :name, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-actions clearfix">
      <span class='pull-right'>
        <%= link_to 'Back', publishers_path, class: 'btn btn-default' %>
        <%= f.submit class: 'btn btn-primary' %>
      </span>
    </div>
  </fieldset>
<% end %>
