<h1><%= @publisher.name %>
	<small class='pull-right'>
		<% if current_user.try(:admin?) %>
			<%= link_to 'Edit', edit_publisher_path(@publisher), class: 'btn btn-primary' %>
		<% end %>
		<%= link_to "Back", publishers_path, class: 'btn btn-default' %>
	</small>
</h1>
