<%= form_for(@book, html: { class: 'form-vertical'}) do |f| %>
  <fieldset>
    <% if @book.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

        <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="controller-group">
      <%= f.label :title %>
      <div class='controls'>
        <%= f.text_field :title, class: 'form-control' %><br />
      </div>
    </div>
    <div class="controller-group">
      <%= f.label :edition %>
      <div class='controls'>
        <%= f.text_field :edition, class: 'form-control' %><br />
      </div>
    </div>
    <div class="controller-group">
      <%= f.label :genre_id %>
      <div class='controls'>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: "Select a category" }, { class: "form-control" } %><br />
      </div>
    </div>
    <div class="controller-group">
      <%= f.label :author_id %>
      <div class='controls'>
        <%= f.collection_select :author_id, Author.all, :id, :name, { prompt: "Select a category" }, {class: "form-control" } %><br />
      </div>
    </div>
    <div class="controller-group">
      <%= f.label :publisher_id %>
      <div class='controls'>
        <%= f.collection_select :publisher_id, Publisher.all, :id, :name, { prompt: "Select a category" }, {class: "form-control" } %><br />
      </div>
    </div>
    <div class="controller-group">
      <%= f.label :isbn %>
      <div class='controls'>
        <%= f.text_field :isbn, class: 'form-control' %><br />
      </div>
    </div>
    <div class="controller-group">
      <%= f.label :price %>
      <div class='controls'>
        <%= f.text_field :price, class: 'form-control' %><br />
      </div>
    </div>
    <div class="controller-group">
      <%= f.label :amount %>
      <div class='controls'>
        <%= f.text_field :amount, class: 'form-control' %><br />
      </div>
    </div>
    <div class="controller-group">
      <%= f.label :remaining %>
      <div class='controls'>
        <%= f.text_field :remaining, class: 'form-control' %><br />
      </div>
    </div>
    <div class="controller-group">
      <%= f.label :description %>
      <div class='controls'>
        <%= f.text_area :description, class: 'form-control' %><br />
      </div>
    </div>
    <div class="controller-group">
      <%= f.label :image %>
      <div class='controls'>
        <%= f.file_field :image %><br />
      </div>
    </div>
    <div class="form-actions clearfix">
      <span class='pull-right'>
        <%= link_to 'Back', books_path, class: 'btn btn-default' %>
        <%= f.submit class: 'btn btn-primary' %>
      </span>
    </div>
  </fieldset>
<% end %>
