<h1>
  Listing books 
  <% if current_user.try(:admin?) %>
    <a href='/books/new' class='btn btn-default btn-sm pull-right'><span class='glyphicon glyphicon-plus'></span>&nbsp;New book</a>
  <% end %>
</h1>

<ul class='main-list well'>
  <% if @books.count == 0 %>
    <li class='row-fluid'>
      <div class='myicon'><span class='glyphicon glyphicon-info-sign red'></span>&nbsp;&nbsp;No records found</div>
    </li>
  <% end %>
  <% @books.each do |book| %>
    <li class='row-fluid'>
      <div class='myicon'> 
        <b> <%= book.title %> </b> <%= ", Edition " + book.edition.to_s %> <i class="hidden-xs"> by <%= book.author.name %> </i> <span class="hidden-xs hidden-sm hidden-md"> <%= "(isbn: " + book.isbn.to_s + ")" %> </span>
      </div>
      <div class='pull-right'>
        <a href="<%= book_path(book) %>" class='btn btn-xs' role='button'><span class='glyphicon glyphicon-zoom-in'></span></a>
        <% if current_user.try(:admin?) %>
          <a href="<%= edit_book_path(book) %>" class='btn btn-xs'  role='button'><span class='glyphicon glyphicon-edit'></span></a>
          <a href="<%= book_path(book) %>" class='btn btn-xs btn-danger  role='button'' data-confirm'Are you sure?' data-method='delete' rel='nofollow'><span class='glyphicon glyphicon-remove'></span></a>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>