<h1><%= @book.title %>
  <small class='pull-right'>
    <% if current_user.try(:admin?) %>
      <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary' %>
    <% end %>
    <%= link_to "Back", books_path, class: 'btn btn-default' %>
  </small>
</h1>
<div class='main-list well'>
  <p>
    <strong>Author:</strong>
    <%= @book.author.name %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= @book.genre.name %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= @book.publisher.name %>
  </p>

  <p>
    <strong>Edition:</strong>
    <%= @book.edition %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= @book.isbn %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @book.price %>
  </p>

  <p>
    <strong>Remaining:</strong>
    <%= @book.remaining %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= simple_format(@book.description) %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= @book.image %>
  </p>

  <p>
    <strong>Popularity:</strong>
    <%= @book.popularity %>
  </p>

</div>
<h4>
  <span class='pull-left'>
    <% if @book.remaining.to_i > 0 %>
      <strong>Available&nbsp;</strong>
      <span class="glyphicon glyphicon-ok green"></span>
    <% else %>
      <strong>Unavailable&nbsp;</strong>
      <span class="glyphicon glyphicon-remove red"></span>
    <% end %>
  </span>
</h4>
<% if (current_user && (current_user.max_book - current_user.borrowed > 0) && (@book.remaining.to_i > 0)) %>
  <span class='pull-right'>
    <a href="#" id='rent-btn' class='btn btn-success' role='button' value="<%= @book.id.to_s + '|' + current_user.id.to_s %>"><span class='glyphicon glyphicon-shopping-cart'></span>&nbsp;&nbsp;I want this!</a>
  </span>
<% end %>
<% if (current_user && (current_user.max_book.to_i - current_user.borrowed.to_i <= 0)) %>
  <span class='pull-right'>
    <span class='glyphicon glyphicon-info-sign red'></span>&nbsp;&nbsp;<strong class='red'>You cannot borrow more books!</strong></a>
  </span>
<% end %>