<h2>Forgot your password?</h2>

<div class='container-fluid'>
	<%= devise_error_messages! %>
</div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal well clearfix' }) do |f| %>
  	<%= content_tag :fieldset, class: 'col-md-5 col-md-offset-3' do %>
	  	<div class="form-group">
		    <%= f.label :email, class: "col-sm-3 control-label" %>
		    <div class='col-sm-9'>
		    	<%= f.email_field :email, autofocus: true, class: 'form-control' %>
			</div>
		</div>

		<div class="pull-right">
      		<%= f.submit "Send me reset password instructions", class: 'btn btn-default' %>
    	</div>
	<% end %>
<% end %>
