@import "bootstrap-sprockets";
@import "bootstrap";

@media (max-width: 1324px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body { padding-top: 70px; }

.navbar-shadow {
  box-shadow: 0px 2px 3px #222;
}

ul.main-list {
	list-style-type: none;
	margin-left: 0px;
	padding: 5px;

	li {
		background: white;
		border-radius: 4px;
		margin-top: 8px;
		margin-bottom: 8px;
		box-shadow: 0px 2px 3px #222;

		.myicon {
			display: inline-block;
			padding: 5px;
		}

		.btn {
			padding: 5px 10px;
		}
	}
}

ul.well {
	padding: 0px 16px;
	background: #eee;
	border: 1px solid #ccc;
}

input[type="checkbox"] {
  margin: 0px 0px 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.white, .white a {
  color: #fff;
}

.green {
  color: #398439;
}

.red {
  color: #c9302c;
}

#error_explanation h2{
	font-size: 21px;
}

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.announement {
  topic {
    font-size: 16px;
  }
}

.sidebar-nav {
  margin-top: 28px;
}

a:visited {
  text-decoration: none;
}

.logo {
  padding: 5px 15px
}
