<%= form_for(@transaction, html: { class: 'form-vertical'}) do |f| %>
  <fieldset>
    <% if @transaction.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

        <ul>
        <% @transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="controller-group">
      <%= f.label :book_id %>
      <div class='controls'>
        <%= f.collection_select :book_id, Book.all, :id, :title, { prompt: "Select a category" }, { class: "form-control" } %><br />
      </div>
    </div>
    <div class="controller-group">
      <%= f.label :user_id %>
      <div class='controls'>
        <%= f.collection_select :user_id, User.all, :id, :name, { prompt: "Select a category" }, {class: "form-control" } %><br />
      </div>
    </div>
    <div class="controller-group">
      <%= f.label :status_id %>
      <div class='controls'>
        <%= f.collection_select :status_id, Status.all, :id, :name, { prompt: "Select a category" }, {class: "form-control" } %><br />
      </div>
    </div>
    <div class="controller-group">
      <%= f.label :issue_date %>
      <div class='controls'>
        <%= f.date_select :issue_date, class: 'form-control' %><br />
      </div>
    </div>
    <div class="controller-group">
      <%= f.label :due_date %>
      <div class='controls'>
        <%= f.date_select :due_date, class: 'form-control' %><br />
      </div>
    </div>
    <div class="form-actions clearfix">
      <span class='pull-right'>
        <%= link_to 'Back', books_path, class: 'btn btn-default' %>
        <%= f.submit class: 'btn btn-primary' %>
      </span>
    </div>
  </fieldset>
<% end %>
