<h1>
  Listing transactions 
  <% if current_user.try(:admin?) %>
    <a href='/transactions/new' class='btn btn-default btn-sm pull-right'><span class='glyphicon glyphicon-plus'></span>&nbsp;New transaction</a>
  <% end %>
</h1>

<ul class='main-list well'>
  <% if @transactions.count == 0 %>
  <li class='row-fluid'>
    <div class='myicon'><span class='glyphicon glyphicon-info-sign red'></span>&nbsp;&nbsp;No records found</div>
  </li>
  <% end %>
  <% @transactions.each do |transaction| %>
    <li class='row-fluid'>
      <div class='myicon'> 
        <b> <%= transaction.book.title %> </b> <span class="hidden-sm hidden-md"> <%= ", Borrower: " %> <i> <%= transaction.user.email %> </i> </span> <span class="hidden-sm"> <%= "on: " + transaction.issue_date.to_s %> </span>
      </div>
      <div class='pull-right'>
        <b> <%= transaction.status.name %></b>
        <a href="<%= transaction_path(transaction) %>" class='btn btn-xs' role='button'><span class='glyphicon glyphicon-zoom-in'></span></a>
        <% if current_user.try(:admin?) %>
          <a href="<%= edit_transaction_path(transaction) %>" class='btn btn-xs'  role='button'><span class='glyphicon glyphicon-edit'></span></a>
          <a href="<%= transaction_path(transaction) %>" class='btn btn-xs btn-danger' role='button' data-confirm'Are you sure?' data-method='delete' rel='nofollow'><span class='glyphicon glyphicon-remove'></span></a>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>