<h1>Transaction Details
  <small class='pull-right'>
    <% if current_user.try(:admin?) %>
      <%= link_to 'Edit', edit_transaction_path(@transaction), class: 'btn btn-primary' %>
    <% end %>
    <%= link_to "Back", transactions_path, class: 'btn btn-default' %>
  </small>
</h1>
<div class='main-list well'>
  <p>
    <strong>User:</strong>
    <%= @transaction.user.email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @transaction.status.name %>
  </p>

  <p>
    <strong>Issue date:</strong>
    <%= @transaction.issue_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= @transaction.due_date %>
  </p>

<!--   <p>
    <strong>Book details:</strong>
    <a href="#" class='btn btn-default' role='button' id='show-book-info' value="<%= @transaction.book_id %>"><span class='glyphicon glyphicon-th-list'></span>&nbsp;&nbsp;Click here</a>
  </p> -->
</div>
<h1>Book Details</h1>
<div id="book-detail" class="main-list well">
  <p>
    <strong>Title:</strong>
    <%= @transaction.book.title %>
  </p>

  <p>
    <strong>Edition:</strong>
    <%= @transaction.book.edition %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= @transaction.book.isbn %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @transaction.book.author.name %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= @transaction.book.publisher.name %>
  </p>
</div>
