<h2>Profile <%= resource_name.to_s.humanize %></h2>

<div class='container-fluid'>
  <%= devise_error_messages! %>
</div>
<div class='main-list well container-fluid'>
  <p>
    <strong>Maximum number of book allowed:</strong>
    <%= current_user.max_book %>
  </p>
  <p>
    <strong>Borrowed:</strong>
    <%= current_user.borrowed %>
  </p>
  <p>
    <strong>Remaining:</strong>
    <%= current_user.max_book - current_user.borrowed %>
  </p>
  <p>
    <strong>Rental history:</strong>
    <a href="/transactions" class='btn btn-default' role='button'><span class='glyphicon glyphicon-th-list'></span>&nbsp;&nbsp;Click here</a>
  </p>
</div>
<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class='container-fluid'>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-vertical well clearfix' }) do |f| %>

  <%= content_tag :fieldset, class: 'col-md-6 col-md-offset-3' do %>
    <div class="form-group">
      <%= f.label :email, class: 'control-label' %>
      <div class='controls'>
        <%= f.email_field :email, autofocus: true, class: 'form-control', disabled: true %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password, class: 'control-label' %> <i>(leave blank if you don't want to change it)</i>
      <div class='controls'>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'control-label' %>
      <div class='controls'>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :current_password, class: 'control-label' %> <i>(we need your current password to confirm your changes)</i>
      <div class='controls'>
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <div class="pull-right">
      <%= f.submit "Update", class: 'btn btn-default' %>
    </div>
  <% end %>
<% end %>

<%= content_tag :a, href: registration_path(resource_name), class: 'btn btn-default', data: { confirm: "Are you sure?" }, method: :delete do %>
  <span class='glyphicon glyphicon-trash'></span>&nbsp;Cancel my account
<% end %>
</div>
