<h2>Registration <small> - Already have an account? <%= link_to "Sign in", new_session_path(resource_name) %></small></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-vertical well clearfix' }) do |f| %>
  <%= content_tag :fieldset, class: 'col-md-4 col-md-offset-4' do %>
    <div class="form-group">
      <%= f.label :email, class: 'control-label' %>
      <div class='controls'>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'control-label' %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <div class='controls'>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'control-label' %><br />
      <div class='controls'>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <div class='pull-left'>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    </div>
    <br />
    <div class="pull-right">
      <%= f.submit "Sign up", class: 'btn btn-default' %>
    </div>
  <% end %>
<% end %>
